@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --vermelhor: rgb(255, 42, 42);
  --cinza: #f5f5f5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
  transition: 0.2s ease;
}

header {
  width: 100%;
  top: 0;
  height: 10vh;
  background: var(--vermelhor);
  display: flex;
  justify-content: space-around;
  position: fixed;
  align-items: center;
}

footer {
  background: var(--vermelhor);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2% 0 0.2% 0;
}

nav {
  color: #fff;
}

.search-form {
  display: flex;
  align-items: center;
  width: 15%;
}

.fa-search {
  margin-right: 1%;
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.logo {
  width: 10%;
  height: 95%;
  border-radius: 6px;
  cursor: pointer;
}

.title {
  text-align: center;
}

#lancamentos {
  margin-top: -6%;
  background-color: var(--cinza);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rating {
  width: 10%;
}

#entrevista {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.entrevista-container {
  display: flex;
  justify-content: space-evenly;
}

.card-entrevista {
  width: 25%;
}

#entrevista .especificacoes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#entrevista .especificacoes span {
  font-weight: 700;
}

#lancamentos h2 {
  margin-top: 3%;
}

.title-entrevista,
#lancamentos h2,
.title-avaliacoes {
  padding: 0 0 2% 6%;
}

#lancamentos h1 {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 3%;
}

.title-trailer {
  display: flex;
}

.movie {
  display: flex;
  justify-content: space-evenly;
}

.sinopse {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sinopse h3 {
  margin-bottom: 2%;
}

.dots {
  width: 5%;
  align-self: center;
}

.sinopse span {
  font-weight: 700;
}

.especificacoes {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

#destaque {
  margin-top: 3%;
}

.titulo-destaque {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 8% 0 8%;
}

.filme-destaque {
  width: 10%;
  display: flex;
}

.filme-destaque:hover {
  width: 11%;
  transition: 0.3s ease;
  cursor: pointer;
}

.filmes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 50vh;
}

.carregar {
  float: right;
  margin-right: 11.5%;
  font-weight: bold;
  margin-top: 2%;
}

.imagem-h4 {
  display: flex;
}

.foto-perfil {
  width: 15%;
}

#avaliacoes {
  margin-top: 2%;
  padding: 2% 0 2% 0;
  background-color: var(--cinza);
}

.avaliacao {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}

@media (max-width: 768px) {
  .movie {
    flex-direction: column;
  }
}
.card-avaliacao {
  width: 25%;
}

#novidade {
  background-color: var(--cinza);
  display: grid;
  grid-template-columns: 1fr 250px;
  padding: 2% 2% 2% 6%;
  max-width: 100%;
}

#novidade img {
  width: 30%;
}

.novidade-container div {
  display: flex;
  justify-content: center;
}

.card-novidade {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 2% 0 2% 0;
  cursor: pointer;
}
.card-novidade:hover {
  color: rgb(255, 42, 42);
  transition: 0.3s ease;
}

.novidade-conteudo {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.novidade-conteudo h3 {
  padding-bottom: 2%;
}

.sobre {
  display: flex;
  flex-direction: column;
}

.carregar {
}

@media (max-width: 770px){
  .movie{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie h3{
    font-size: 1.4em;
    font-weight: bold;
  }

  .movie iframe{
    width: 90vw;
  }

  .sinopse{
    margin: 5%;
    text-align: center;
  }

  .especificacoes{
    display: block;
    text-align: start;
    margin-top: 5%;
    background-color: #ebebeb;
    padding: 4%;
    border-radius: 10px;
  }

  #estrelas{
    position: relative;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 6%;
    width: 25vw;
    z-index: 1;
  }

  .titulo-destaque{
    display: block;
    text-align: center;
  }

  .titulo-destaque h2{
    font-size: 2.5em;
    padding-bottom: 10px;
  }

  #categoria{
    width: 40vw;
    height: 7vw;
    text-align: center;
  }

  .filmes{
    display: inline-flex;
    
  }

  .destaque{
    height: max-content;
    width: 100vw;
  }

  .filmes{
    padding: 10% 0 10% 0;
    height: min-content;
  }

  .filmes img{
    width: 40vw;
    margin: 2%;
  }

  .filme-destaque:hover{
    width: 40vw;
    transition: 0;
    cursor: pointer;
  }

  .carregar{
    margin: 5%;
    font-size: 1.1em;
  }

  .title-avaliacoes{
    font-size: 1.8em;
    padding: 1% 1% 5% 5%;
  }

  .avaliacao{
    display: block;
    width: 100vw;
  }

  .card-avaliacao{
    width: 100%;
  }

  .card-content{
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-content h4{
    font-size: 1.4em;
    padding-left: 3%;
  }

  .card-content img{
    padding: 0;
  }

  .card-avaliacao p{
    padding: 0 2% 2% 5%;
  }

}
