@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --vermelhor: rgb(255, 42, 42);
  --cinza: #f5f5f5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
  transition: 0.2s ease;
}

header {
  width: 100%;
  top: 0;
  height: 10vh;
  background: var(--vermelhor);
  display: flex;
  justify-content: space-around;
  position: fixed;
  align-items: center;
}

footer {
  background: var(--vermelhor);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


nav {
  color: #fff;
}

.search-form {
  display: flex;
  align-items: center;
  width: 15%;
}

.fa-search {
  margin-right: 1%;
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.logo {
  width: 10%;
  height: 95%;
  border-radius: 6px;
  cursor: pointer;
}

.title {
  text-align: center;
}

#lancamentos {
  margin-top: -6%;
  background-color: var(--cinza);
  width: 100%;
  display: flex;
  flex-direction: column;
}

#entrevista {
  
}

#lancamentos h2 {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 3%;
}

.title-trailer {
  display: flex;
}

.movie {
  display: flex;
  justify-content: space-evenly;
}

.sinopse h3 {
  margin-bottom: 2%;
}

.dots{
  width:5%;
  align-self:center;
}

.sinopse span {
  font-weight: 700;
}

.especificacoes {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.destaque{
  margin-top: 2%;
}

.titulo-destaque{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 8% 0 8%;
}

.filme-destaque{
  width:10%;
  display: flex;
}

.filme-destaque:hover{
  width: 11%;
  transition: 0.3s ease;
  cursor: pointer;
}

.filmes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 50vh;
}

.foto-perfil{
  width:15%;
}

#avaliacoes {
  margin-top: 2%;
  padding: 2% 0 2% 0;
  background-color: var(--cinza);
}

.avaliacao {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 1%;
}

.card-avaliacao {
  width: 25%;

}

.title-avaliacoes{
  padding-left: 6%;

}

#novidade {
  background-color: var(--cinza);
  width: 100%;
}

.carregar{
  float:right;
  margin-right:8%;
}